flask
flask-cors
werkzeug
faiss-cpu
python-dotenv
assemblyai
google-generativeai
pypdf2
python-docx
sentence-transformers
yt-dlp
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
google-ai-generativelanguage
langchain_huggingface
pypdf
click
rich
